<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WatchList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5624F4971EEB9DC40016A6EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5624F4B01EEB9DC40016A6EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5624F4BB1EEB9DC40016A6EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5624F4E91EED26B00016A6EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
